controller_manager:
  ros__parameters:
    update_rate: 500
    
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    kawasaki_controller:
      type: joint_trajectory_controller/JointTrajectoryController
      # type: effort_controllers/JointGroupEffortController # orjinali

kawasaki_controller:
  ros__parameters:
    joints:
      - joint1
      - joint2
      - joint3
      - joint4
      - joint5
      - joint6
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity